{
  "nick": "bankedits",
  "accounts": [
    {
      "consumer_key": "{{consumer_key}}",
      "consumer_secret": "{{consumer_secret}}",
      "access_token": "{{access_token}}",
      "access_token_secret": "{{access_token_secret}}",
      "template": "{{{page}}} Wikipedia article edited anonymously from {{{name}}} {{&url}}",
      "ranges": "ranges.json",
      "throttle": false,
      "namespaces": ["article", "file", "media", "main"]
    }
  ]
}


